
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
  }

  .ant-input-search-button {
   background-color: #24354C;
  } 
  .ant-input-search-button:hover {
   background-color: #4d6076 !important;
  } 

  /* HTML: <div class="loader"></div> */
 /* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  display: grid;
  background: radial-gradient(farthest-side, red 98%, #0000) center/30px 100%
    no-repeat;
  --mask: 
    radial-gradient(12px at left 15px top 50%, #0000 95%, #000),
    radial-gradient(12px at center, #0000 95%, #000),
    radial-gradient(12px at right 15px top 50%, #0000 95%, #000);
  -webkit-mask: var(--mask);
          mask: var(--mask);
  -webkit-mask-composite: source-in;
          mask-composite: intersect;
  animation: l2 1s infinite alternate;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  height: 30px;
  aspect-ratio: 1;
  background: red !important;
  border-radius: 50%;
}
.loader:after {
  margin-left: auto;
}
@keyframes l2 {
  to {
    width: 50px;
  }
}